<h1>Answer</h1>

<div class="interaction">
  <p class="sender">Your question</p>
  <%= @question %>
</div>
<div class="interaction">
  <p class="sender">Your coach's answer</p>
  <%= @answer %>
</div>

<div class="new-question">
  <%= link_to 'Ask a new question', root_path %>
</div>
