<h1>Ask something to your coach</h1>

<form action="/answer" method="get" id="form">
  <input type="text" name="question" placeholder="What do you want to say to your coach?" id="input">
  <input type="submit" value="Ask!" id="submit">
</form>
